name: run cypress tests without dockers

on: 
  push: 
    branches: 
      - main
  pull_request:

jobs: 
  cypress-run:
    runs-on: ubuntu-latest
    
    steps: 
      - name: checkout code
        uses: actions/checkout@v3

      - name: set up node.js
        uses: actions/setupnode@actions@v3
        with:
          node-version: '18

      - name: Install node dependincies
        run: npm install

      - name: Run Cypress tests
        run: npx cypress run
